@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.header {
  font-family: "Montserrat", sans-serif;
}
/* Making Website Responsive */
@media only screen and (max-width: 770px){
  h1 {
    font-size: 20px;
    font-weight: 500;
  }
  .Request-Heading{
    font-size: 18px;
    font-weight: 400;
  }
  p{
    font-size: 16px;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Ubuntu", sans-serif;
}

.Community-content {
  display: flex;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  padding: 3%;
}
.Community-content p {
  padding: 5%;
  text-align: justify;
  font-size: 24px;
  word-wrap: break-word;
}
.Community-image {
  margin-top: -2rem;
}
.Community {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 3rem;
}
.Mission {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 3rem;
}
.Mission-content {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  padding: 5%;
  font-size: 24px;
}

.Mission-image {
  margin-top: -4rem;
}
#Main {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;
}
#Review {
  height: 300px;
  padding: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  /* margin-left: 4rem; */
  /* width: 90%; */
}

/* for creating the 2 cards requesting blood and fund donation */
.Request {
  display: flex;
  gap: 30px;
  padding: 3%;
  text-align: center;
  justify-content: center;
}
.Request-Content {
  font: 20px;
  font-weight: 500;
  text-align: left;
  /* color:red; */
  padding: 9%;
}
.Request-Heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.cards {
  padding: 1rem;
}

/* for the three cards to make about how we contribute */
.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  gap: 50px;
}
.Work {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
}
.Work-Top {
  text-align: center;
}
/* Styling Thank you page */
.Background {
  padding: 10%;
}
.Thank-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  font-size: 20px;
}
.Thank-content h1 {
  text-align: center;
  text-align: 25px;
}
/* Creating footer */
.Footer {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.all-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.initial {
  color: black;
}
/* Hovering over all icons */
.insta-icon:hover {
  color: #c13584;
}

.fb-icon:hover {
  color: #0a58ca;
}

.tw-icon:hover {
  color: #1da1f2;
}

.yt-icon:hover {
  color: #ff0000;
}

/* Creating Newsletter */
.Newsletter-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:5%;
  gap:1rem;
  margin-top: 3rem;
}
.Newsletter-heading{
  font-size: 1.5rem;
  text-align: center;
}
.Newsletter-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
  padding:5%;
}
/* Making Website Responsive */
@media only screen and (max-width: 820px){
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .Request-Heading{
    font-size: 18px;
    font-weight: 600;
  }
  .Request{
    flex-direction: column;
  }
  .Community-content p{
    font-size: 16px;
    font-weight: 400;
  }
  .Work{
    flex-direction: column;
  }
  .Request{
    gap:20px;
  }
  .About{
    gap:10px;
  }
  .Request-Content{
    padding:3%;
  }
  .Mission-image{
    width:200px;
    height: 200px;
    margin-top: 1rem;
  }
  .Community-image{
    width:200px;
    height: 200px;
    margin-top: 1rem;
  }
  .Community-content{
    padding:0; 
  }
  .Community-content p {
    font-size: 16px;
    padding:8px;

  }
  .Mission-content p{
    font-size: 16px;
    padding:8px;
  }
  .Mission-content{
    padding: 0;
  }
}
@media only screen and (max-width: 436px){
  .Mission-image{
    height: 200px;
    width:175px;
    margin-top: 0;

  }
  .items p {
    font-size:12px;
    padding: 1%;
  }
  small{
    font-size: 10px;
    padding: 0;
    margin:0;
  }
  .Community-image{
    width:175px;
    height: 200px;
    
  }
}