
.para-wrap {
    padding: 4rem 1rem;
    width: 40%;
    margin: 0 auto;
    line-height: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

